body {
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: center;
    color: #002711;
}

input[type="text"] {
    padding: 8px;
    border: 0.5px solid #ccc;
    border-radius: 6px;
    width: 20%;
}

input[type="radio"] {
    accent-color: #0a3720; /* muda a cor da bolinha */
}

input[type="button"] {
    background-color: #0a3720;
    color: white;
    border: none;
    padding: 10px 16px;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="button"]:hover {
    background-color: #28664b;
}

.materias {
    background-color: #bdd6d2;
    padding: 2%;
    border-radius: 4px;
    margin-top: 15px;
}

.titulo {
    align-items: center;
    text-align: center;
}

ul {
    background-color: #bdd6d2;
    border-radius: 4px;
    padding: 2% 4%;
    list-style-type: none;
}

footer {
  margin-top: 40px;
  padding: 15px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
}

footer p {
    color: #002711;;
}

footer a {
  color: #28664b; /* amarelo destaque */
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
  color: #28664b;
}

@media (max-width: 600px) {
    body {
        text-align: center;
    }

    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    button {
        width: 100%;
    }
}
